[Desktop Entry]
Name=Keyboard Settings
Name[es]=Preferencias de Teclado
Comment=Set your keyboard preferences
Comment[es]=Establece tu configuración de teclado.
Exec=lxkb_config
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;
